@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App Header {
  display: flex;
  background-color: white;
}

.logo-container {
  display: flex;
}

.logo-container h1 {
  color: #1890ff;
  margin-right: 40px;
  height: 31px;
}

.logo-container img {
  scale: 75%;
}

.button-container {
  margin-left: 20px;
}

.site-layout-content {
  padding: 10px;
  margin-top: 50px;
  display: flex;
}

.site-card-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: fit-content;
  width: auto;
}

