@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App Header {
  display: flex;
  background-color: white;
}

.logo-container {
  display: flex;
}

.logo-container h1 {
  color: #1890ff;
  margin-right: 40px;
  height: 31px;
}

.logo-container img {
  scale: 75%;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  margin-top: 24px;
  height: fit-content;
}
